<html>
  <head>
    <title>Ritual Madness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/stylesheets/cool-input.css">
    <style>
      :root {
        --container-width: 33px;
      }

      * {
        font-family: "Verdana", sans-serif;
      }

      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: hsl(48, 11%, 83%);
        background-color: rgb(19, 19, 19);
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        margin: 1rem;
      }

      header {
        text-align: center;
      }

      .canvas-container {
        padding: 1rem 133px;
      }

      #songs {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 1rem;
      }

      #songs div {
        border: 1px solid black;
        border-radius: 1rem;
        margin-top: 1rem;
      }

      #songs div:hover {
        cursor: pointer;
        color: white;
        background-color: black;
      }

      canvas {
        height: var(--container-width);
        width: var(--container-width);
        margin: 2rem 0;
      }

      #message {
        background-color: red;
        height: 3rem;
      }

      .drawer button {
        display: block;
      }

      .drawer button:last-child {
        margin-bottom: 0.5rem;
      }

      h2 {
        white-space: nowrap;
      }

      #albums {
        padding: 1rem 0;
      }

      #menu {
        padding: 1rem 0;
      }

      audio {
        margin: 1rem 0;
      }
  </style>
  </head>
  <body>
    <header>
      <h1><button id="main-button">Ritual Madness</button></h1>
    </header>

    <div id="menu-drawer" class="drawer off">
      <div id="menu"></div>
    </div>

    <audio controls>
      <source />
    </audio> 

    <div id="message-drawer" class="drawer off">
      <p id="message" class="digital"></p>
    </div>

    <h2 id="album-title" class="digital on out"></h2>

    <div id="album-drawer" class="drawer">
      <div id="albums"></div>
    </div>
    
    <script>
      const mainButtonElement = document.getElementById('main-button');

      const menuDrawerElement = document.getElementById('menu-drawer');
      const menuElement = document.getElementById('menu');

      const playerElement = document.querySelector('audio');

      const messageDrawerElement = document.getElementById('message-drawer');
      const messageElement = document.getElementById('message');

      const albumDrawerElement = document.getElementById('album-drawer');
      const albumsElement = document.getElementById('albums');

      const albumTitleElement = document.getElementById('album-title');

      playerElement.addEventListener('ended', () => nextSong());

      playerElement.addEventListener('error', function failed(e) {
        switch (e.target.error.code) {
          case e.target.error.MEDIA_ERR_ABORTED:
            messageElement.innerHTML = 'You aborted the audio playback.';
            break;
          case e.target.error.MEDIA_ERR_NETWORK:
            messageElement.innerHTML = 'A network error caused the audio download to fail.';
            break;
          case e.target.error.MEDIA_ERR_DECODE:
            messageElement.innerHTML = 'The audio playback was aborted due to a corruption problem or because the audio used features your browser did not support.';
            break;
          case e.target.error.MEDIA_ERR_SRC_NOT_SUPPORTED:
            messageElement.innerHTML = 'The audio could not be loaded, either because the server or network failed or because the format is not supported.';
            break;
          default:
            messageElement.innerHTML = 'An unknown error occurred.';
            break;
        }

        messageDrawerElement.classList.remove('off');
      }, true);

      playerElement.addEventListener('playing', () => {
        navigator.mediaSession.playbackState = 'playing';
      });

      playerElement.addEventListener('pause', () => {
        navigator.mediaSession.playbackState = 'paused';
      });

      function createSongButton(songIndex, songName) {
        const button = document.createElement('button');

        button.innerHTML = songName;

        button.classList.add('off');

        button.addEventListener('click', () => {
          loadSong(songIndex);
          
          playerElement.play();
        });

        return button;
      }

      const albums = <%-albumData%>;

      let songs = [];
      let isMenuVisible = false;

      function hideMenu() {
        isMenuVisible = false;

        menuDrawerElement.classList.add('off');
        mainButtonElement.classList.remove('on');
      }

      function showMenu() {
        isMenuVisible = true;

        menuDrawerElement.classList.remove('off');
        mainButtonElement.classList.add('on');
      }

      let currentAlbum;

      function renderAlbum(album) {
        album.button.classList.add('active');
        album.button.classList.add('on');
        album.button.classList.remove('off');

        for (const otherAlbum of albums) {
          if (otherAlbum === album) {
            continue;
          }

          otherAlbum.button.classList.remove('active');
          otherAlbum.button.classList.remove('on');
          otherAlbum.button.classList.add('off');
        }

        hideMenu();

        if (currentAlbum === album) {
          return;
        }

        albumDrawerElement.classList.add('off');
        messageDrawerElement.classList.add('off');
        albumTitleElement.classList.add('off');

        setTimeout(() => {
          songs.forEach(({ button }) => button.remove());

          albumTitleElement.innerHTML = album.albumName;

          songs = album.songs.map((song, i) => ({ ...song, button: createSongButton(i, song.metadata.title) }));

          albumsElement.append(...songs.map(song => song.button));

          albumDrawerElement.classList.remove('off');
          albumTitleElement.classList.remove('off');

          messageElement.innerHTML = '';

          loadSong(0);
        }, !currentAlbum ? 0 : 1000);

        currentAlbum = album;
      }

      let currentSongIndex = 0;

      function loadSong(songIndex) {
        currentSongIndex = songIndex;

        for (let i = 0; i < songs.length; i++) {
          const { button, metadata, url } = songs[i];

          if (i !== songIndex) {
            button.classList.add('off');
            button.classList.remove('on');

            continue;
          }

          button.classList.remove('off');
          button.classList.add('on');

          playerElement.pause();

          playerElement.src = url;

          playerElement.load();

          navigator.mediaSession.metadata = new MediaMetadata(metadata);

          document.title = `Ritual Madness - ${metadata.title}`;
        }
      }

      function nextSong() {
        if (currentSongIndex === songs.length - 1) {
          navigator.mediaSession.playbackState = 'none';

          return
        }
        
        loadSong(currentSongIndex + 1);

        playerElement.play();
      }

      function previousSong() {
        if (currentSongIndex === 0) {
          navigator.mediaSession.playbackState = 'none';

          return
        }

        loadSong(currentSongIndex - 1);

        playerElement.play();
      }

      navigator.mediaSession.setActionHandler('play', () => {
        playerElement.play();
      });

      navigator.mediaSession.setActionHandler('pause', () => {
        playerElement.pause();
      });

      navigator.mediaSession.setActionHandler('previoustrack', () => {
        previousSong();
      });

      navigator.mediaSession.setActionHandler('nexttrack', () => {
        nextSong();
      });

      mainButtonElement.addEventListener('click', () => {
        if (isMenuVisible) {
          hideMenu();
        } else {
          showMenu();
        }
      });

      for (const album of albums) {
        const button = document.createElement('button');

        button.innerHTML = album.albumName;

        button.addEventListener('click', () => {
          renderAlbum(album);
        });

        menuElement.append(button);

        album.button = button;
      }

      renderAlbum(albums[0]);

      loadSong(0);
    </script>
  </body>
</html>