/* cool input */
:root {
  --primary-color-h: 302;
  --primary-color-s: 92%;
  --primary-color-l: 30%;
  --primary-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
  --primary-color-shadow: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - 3%));
  --primary-color-shade: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - 4%));
  --primary-color-dark: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - 50%));
}

input {
  font-size: large;
  background-color: rgb(4, 99, 7);
  border-radius: 0.25rem;
  color: black;
  transition: all 0.125s linear;
}

input:focus {
  outline: none;
}

button {
  position: relative;
  top: 0;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  filter: brightness(100%);
  border: none;
  box-shadow: 
      0 -1px 0 0 var(--primary-color-shade) inset,
      0 6px 0 0 var(--primary-color-shadow),
      0 6px 1px 0 var(--primary-color);
  transition: all 0.125s linear;
  font-size: large;
  color: var(--primary-color-dark);
}

button:active {
  top: 4px;
  box-shadow:
      0 -1px 0 0 var(--primary-color-shade) inset,
      0 2px 0 0 var(--primary-color-shadow),
      0 2px 1px 0 var(--primary-color);
}

button:active.on {
  box-shadow:
      0 -1px 0 0 var(--primary-color-shade) inset,
      0 2px 0 0 var(--primary-color-shadow),
      0 2px 6px 0 var(--primary-color);
}

.on {
  box-shadow: 
      0 -1px 0 0 var(--primary-color-shade) inset,
      0 6px 0 0 var(--primary-color-shadow),
      0 6px 6px 0 var(--primary-color);

  filter: brightness(120%);
}

.off {
  filter: brightness(80%);
}