/* cool input */
:root {
  --primary-color-h: 0;
  --primary-color-s: 0%;
  --primary-color-l: 100%;
  --primary-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
  --primary-color-shadow: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - 3%));
  --primary-color-shade: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - 4%));
  --primary-color-dark: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - 75%));
  --digital-color-h: 122;
  --digital-color-s: 92%;
  --digital-color-l: 20%;
  --digital-color: hsl(var(--digital-color-h), var(--digital-color-s), var(--digital-color-l));
  --digital-color-shadow: hsl(var(--digital-color-h), var(--digital-color-s), calc(var(--digital-color-l) - 3%));
  --digital-color-shade: hsl(var(--digital-color-h), var(--digital-color-s), calc(var(--digital-color-l) - 4%));
  --digital-color-dark: hsl(var(--digital-color-h), var(--digital-color-s), calc(var(--digital-color-l) - 75%));
}

button {
  position: relative;
  top: 0;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  filter: brightness(100%);
  border: none;
  box-shadow: 
      0 -1px 0 0 var(--primary-color-shade) inset,
      0 6px 0 0 var(--primary-color-shadow),
      0 6px 1px 0 var(--primary-color);
  transition: all 0.125s linear;
  font-size: large;
  color: var(--primary-color-dark);
  text-shadow: 1px 1px var(--primary-color-shadow);
}

button:active, .active {
  top: 4px;
  box-shadow:
      0 -1px 0 0 var(--primary-color-shade) inset,
      0 2px 0 0 var(--primary-color-shadow),
      0 2px 1px 0 var(--primary-color);
}

button:active.on {
  box-shadow:
      0 -1px 0 0 var(--primary-color-shade) inset,
      0 2px 0 0 var(--primary-color-shadow),
      0 2px 6px 0 var(--primary-color);
}

button.on {
  box-shadow: 
      0 -1px 0 0 var(--primary-color-shade) inset,
      0 6px 0 0 var(--primary-color-shadow),
      0 6px 6px 0 var(--primary-color);

  filter: brightness(120%);
}

button.off {
  filter: brightness(80%);
}

.drawer {
  transition: max-height 1s ease-in-out;
  overflow: hidden;
  max-height: 100%;
}

.drawer.off {
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  max-height: 0;
}

.digital {
  transition: max-width 1s ease-in-out;
  font-family: 'Courier New';
  background-color: var(--digital-color);
  color: black;
  text-shadow: 1px 1px var(--digital-color-shadow);
  box-shadow: 1px 1px 5px var(--digital-color-dark) inset;
  max-width: 100%;
  overflow: hidden;
}

.digital.on {
  filter: brightness(120%);
}

.digital.off {
  transition: max-width 1s cubic-bezier(0, 1, 0, 1);
  max-width: 0;
  text-shadow: none;
}

.digital:focus {
  outline: none;
}